{% extends "app/navbar.html" %}

{% block main %}

<!--TODO: Add bounty image-->
<!--TODO: Add edit button if you're the creator and the status is new-->
<!--TODO: Pretty this up-->

<h1>{{ bounty.title }} - {{ bounty.reward }} sats</h1>
<a href="{% url 'accounts:profile' bounty.author.id %}"><h2>{{ bounty.author.username }}</h2></a>
<br>
<h3>{{ bounty.description }}</h3>

<ul>
    <li>Reward: {{bounty.reward}} satoshis</li>
    <li>Due: {{bounty.due_date}}</li>
</ul>

{% if user.is_authenticated and user != bounty.author and applied < 0 %}
<form method="post" action="{% url 'app:apply' bounty.id %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-success" value="Apply">
</form>
{% elif applied > -1 %}
<form method="post" action="{% url 'app:unapply' bounty.id applied %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-danger" value="Unapply">
</form>
{% endif %}

<!--TODO: Show applicants if you're the creator and the status is new-->
<!--TODO: Be able to choose an applicant and automatically change status-->
<!--TODO: Show "Are you sure?" modal when you select an applicant-->

{% endblock %}