{% extends "app/navbar.html" %}

{% block main %}

<!--TODO: Add bounty image-->
<!--TODO: Pretty this up-->

<div class="text-center" id="bounty">
    <span>
        <h1>{{ bounty.title }} - {{ bounty.reward }} sats</h1>
        {% if is_me and bounty.status == bounty.NEW %}
        &nbsp;&nbsp;<button class="btn btn-outline-success" onclick="editbounty()">Edit Bounty</button>
        &nbsp;&nbsp;<button class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Bounty</button>
        {% endif %}
    </span>

    {% if not is_me %}
    <a href="{% url 'accounts:profile' bounty.author.id %}"><h2>{{ bounty.author.username }}</h2></a>
    <br>
    {% endif %}
    <h3>{{ bounty.description }}</h3>

    <p>Reward: {{bounty.reward}} satoshis</p>
    <p>Due: {{bounty.due_date}}</p>

    {% if user.is_authenticated and not is_me and application_id < 0 %}
    <form method="post" action="{% url 'app:apply' bounty.id %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-success" value="Apply">
    </form>
    {% elif application_id > -1 %}
    <form method="post" action="{% url 'app:unapply' application_id %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-danger" value="Unapply">
    </form>
    {% endif %}
</div>

{% if user.is_authenticated and is_me and bounty.status == bounty.NEW %}
<div class="text-center" id="bounty_edit" style="display: none;">
    <h1>Edit Bounty</h1>
    <form method="POST" action="{% url 'app:bounty' bounty.id %}">
        {% csrf_token %}
        {{ bounty_form.as_p }}
        <input type="submit" class="btn btn-outline-success" value="Save Changes" onclick="canceledit()">
        <input type="button" class="btn btn-outline-danger" value="Cancel" onclick="canceledit()">
    </form>
</div>
<div id="applications">
    <h3>Applicants</h3>
    <hr />
    <table class="table table-hover">
        <thead>
            <th scope="col">Applicant</th>
            <th scope="col">Application Date</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <th><a href="{% url 'accounts:profile' application.applicant.id %}">{{ application.applicant.username }}</a></th>
                <td>{{ application.created_on }}</td>
                <td><button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#confirmModal" 
                    onclick="confirm_modal_mod('{{ application.applicant.username }}', '{{ application.id }}')">Select Applicant</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Applicant Selection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="confirmationTxt">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <form method="POST" id="confirm_yes_btn">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Bounty</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="confirmationTxt">
            Are you sure you want to delete this bounty?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <form method="POST" action="{% url 'app:delete' bounty.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
    function editbounty(){
        $("#bounty").css("display", "none");
        $("#applications").css("display", "none");
        $("#bounty_edit").css("display", "block");
    }
    
    function canceledit(){
        $("#bounty").css("display", "block");
        $("#applications").css("display", "block");
        $("#bounty_edit").css("display", "none");
    }

    function confirm_modal_mod(applicant, application_id){
        $("#confirmationTxt").html(`Select ${applicant} for this bounty?`);
        var url = "{% url 'app:select_applicant' 0 %}";
        url = url.replace("0", application_id);
        $("#confirm_yes_btn").attr('action', url);
    }
</script>
{% endif %}

<!--TODO: Be able to choose an applicant and automatically change status-->
<!--TODO: Show "Are you sure?" modal when you select an applicant-->

{% endblock %}