{% extends "app/navbar.html" %}

{% block main %}

{% load static %}

<h1 class="text-center">Browse Bounties</h1>

{% if user.is_authenticated %}
<a href="{% url 'app:create' %}"><button type="button" class="btn btn-outline-success">Create a Bounty</button></a>
{% endif %}
<!-- TODO: Filter, sort by, advanced search -->
<hr>
{% if bounties %}
<table class="table table-hover">
    <thead>
        <th>Bounty</th>
        <th>Reward (sats)</th>
        <th>Client</th>
    </thead>
    <tbody>
        {% for bounty in bounties %}
        <tr>
            <th>
                <a href="{% url 'app:bounty' bounty.id %}" class="text-dark" style="text-decoration: none;">{{ bounty.title }}</a>
            </th>
            <td>
                <a href="{% url 'app:bounty' bounty.id %}" class="text-dark" style="text-decoration: none;">
                    <i class="fak fa-satoshisymbol-solid"></i> {{ bounty.reward }}
                </a>
            </td>
            <td>
                <a href="{% url 'accounts:profile' bounty.author.id %}" class="text-dark" style="text-decoration: none;">{{ bounty.author.username }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for bounty in latest_bounties %}
  <div class="col">
    <a href="{% url 'app:bounty' bounty.id %}" class="text-dark" style="text-decoration: none;">
      <div class="card">
        <img src="{% static 'app/images/default_card_img.jpg' %}" class="card-img-top" alt="{{ bounty.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ bounty.title }}</h5>
          <p class="card-text">
            Reward: {{ bounty.reward }} {% if bounty.reward == 1 %}sat{% else %}sats{% endif %}
          </p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>-->
<!-- TODO: Add pagination -->
{% else %}
<br>
<div class="text-center">
  <h3>
    No bounties yet. <a href="{% url 'app:create' %}" class="text-dark">Why not create one?</a>
  </h3>
</div>
{% endif %}

{% endblock %}