{% extends "app/navbar.html" %}

{% block main %}

{% load static %}

<div class="text-center">
  <h1>Welcome to Sat Earn</h1>
  <br>
  <br>
  <h3>Get Satoshis through your proof of work.</h3>
</div>

{% if user.is_authenticated %}
<a href="{% url 'app:create' %}"><button type="button" class="btn btn-outline-success">Create a Bounty</button></a>
{% endif %}
<!-- TODO: Filter, sort by, advanced search -->
<hr>
{% if latest_bounties %}
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for bounty in latest_bounties %}
  <div class="col">
    <div class="card">
      <img src="{% static 'app/images/default_card_img.jpg' %}" class="card-img-top" alt="{{ bounty.title }}">
      <div class="card-body">
        <a href="{% url 'app:bounty' bounty.id %}"><h5 class="card-title">{{ bounty.title }}</h5></a>
        <p class="card-text">
          Reward: {{ bounty.reward }} {% if bounty.reward == 1 %}sat{% else %}sats{% endif %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- TODO: Add pagination -->
{% else %}
<br>
<div class="text-center">
  <h3>
    No new bounties. <a href="{% url 'app:create' %}">Why not create one?</a>
  </h3>
</div>
{% endif %}

{% endblock %}

