{% extends "app/navbar.html" %}

{% block main %}

{% load static %}

<div class="text-center">
    <h1>My Jobs</h1>
</div>

<div class="modal fade" id="unapplyModal" tabindex="-1" aria-labelledby="unapplyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="unapplyModalLabel">UNAPPLY</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="confirmationTxt">
            Are you sure you want to unapply?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
          <form method="POST" id="yes_btn">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Yes</button>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
function unapply_modal_mod(bounty, application_id){
    $("#unapplyModalLabel").html(`Unapply - "${bounty}"`);

    var url = "{% url 'app:unapply_jobs' 0 %}";
    url = url.replace("0", application_id);
    $("#yes_btn").attr('action', url);
}
</script>

<div class="accordion" id="applications">
    <div class="accordion-item">
        <h2 class="accordion-header" id="applied-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#applied" aria-expanded="true" aria-controls="applied">
                Applied ({{ applied.count }})
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="applied" aria-labelledby="applied-header">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead>
                        <th>Bounty</th>
                        <th>Reward (sats)</th>
                        <th>Creation Date</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for application in applied %}
                        <tr>
                            <th>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.title }}</a>
                            </th>
                            <td>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">
                                    <i class="fak fa-satoshisymbol-solid"></i> {{ application.bounty.reward }}
                                </a>
                            </td>
                            <td>
                              <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.created_on }}</a>
                            </td>
                            <td>
                              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#unapplyModal" 
                              onclick="unapply_modal_mod('{{ application.bounty.title }}', '{{ application.id }}')">
                                Unapply
                              </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="working-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#working" aria-expanded="false" aria-controls="working">
                Working ({{ working.count }})
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="working" aria-labelledby="working-header">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead>
                        <th>Bounty</th>
                        <th>Reward (sats)</th>
                        <th>Creation Date</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for application in working %}
                        <tr>
                            <th>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.title }}</a>
                            </th>
                            <td>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">
                                    <i class="fak fa-satoshisymbol-solid"></i> {{ application.bounty.reward }}
                                </a>
                            </td>
                            <td>
                              <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.created_on }}</a>
                            </td>
                            <td>
                              <!--<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#unapplyModal" 
                              onclick="unapply_modal_mod('{{ application.bounty.title }}', '{{ application.id }}')">
                                Unapply
                              </button>-->
                              <button type="button" class="btn btn-outline-danger">
                                Quit
                              </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="completed-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#completed" aria-expanded="false" aria-controls="completed">
                Completed ({{ completed.count }})
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="completed" aria-labelledby="completed-header">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead>
                        <th>Bounty</th>
                        <th>Reward (sats)</th>
                        <th>Creation Date</th>
                        <th>Payment Status</th>
                    </thead>
                    <tbody>
                        {% for application in completed %}
                        <tr>
                            <th>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.title }}</a>
                            </th>
                            <td>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">
                                    <i class="fak fa-satoshisymbol-solid"></i> {{ application.bounty.reward }}
                                </a>
                            </td>
                            <td>
                              <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.created_on }}</a>
                            </td>
                            <td>Pending</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="cancelled-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cancelled" aria-expanded="false" aria-controls="cancelled">
                Cancelled ({{ cancelled.count }})
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="cancelled" aria-labelledby="cancelled-header">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead>
                        <th>Bounty</th>
                        <th>Reward (sats)</th>
                        <th>Creation Date</th>
                    </thead>
                    <tbody>
                        {% for application in cancelled %}
                        <tr>
                            <th>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.title }}</a>
                            </th>
                            <td>
                                <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">
                                    <i class="fak fa-satoshisymbol-solid"></i> {{ application.bounty.reward }}
                                </a>
                            </td>
                            <td>
                              <a href="{% url 'app:bounty' application.bounty.id %}" class="text-dark" style="text-decoration: none;">{{ application.bounty.created_on }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- TODO: Add pagination -->

{% endblock %}