{% extends "app/base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!--TODO: Add logo-->
        <a class="navbar-brand" href="{% url 'app:index' %}">Sat Earn</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'app:browse' %}">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:index' %}#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:index' %}#clients">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:index' %}#hunters">Hunters</a>
                </li>
            </ul>
    
            <!--User features-->
            {% if user.is_authenticated %}
            <div class="d-flex mr-auto btn-group">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" id="navbarDropdown">Hi, {{ user.username }}</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item"><a href="{% url 'accounts:user' %}" style="text-decoration: none;" class="text-dark">Account</a></li>
                    <li class="dropdown-item"><a href="{% url 'accounts:profile' user.id %}" style="text-decoration: none;" class="text-dark">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item"><a href="{% url 'app:my_bounties' %}" style="text-decoration: none;" class="text-dark">My Bounties</a></li>
                    <li class="dropdown-item"><a href="{% url 'app:my_jobs' %}" style="text-decoration: none;" class="text-dark">My Jobs</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item"><a href="{% url 'app:logout' %}" style="text-decoration: none;" class="text-dark">Log Out</a></li>
                </ul>
            </div>
            {% else %}
            <div class="d-flex mr-auto">
                <a href="{% url 'app:login' %}"><button type="button" class="btn btn-outline-dark">Log In</button></a>&nbsp;&nbsp;
                <a href="{% url 'accounts:signup' %}"><button type="button" class="btn btn-outline-primary">Create an Account</button></a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container h-100">
    {% block main %}{% endblock %}
</div>

{% endblock %}