{% extends "app/navbar.html" %}

{% block main %}

{% load static %}

<div class="text-center" id="profile">
    <img src="{% if profile_user.profile.avatar %}{{ profile_user.profile.avatar.url }}{% else %}{% static 'accounts/default_pic.jpg' %}{% endif %}" class="rounded mx-auto d-block" width="400" height="300">
    <h3>{{ profile_user.username }}</h3>
    <br>
    <br>
    <h3>Bio:</h3>
    <p class="card card-body">{{ profile_user.profile.bio }}</p>
    {% if is_me %}
    <button class="btn btn-outline-success" onclick="editprofile()">Edit Profile</button>
    {% endif %}

    <!--TODO: Average rating from clients, only show if there's at least one review-->
    <!--TODO: Reviews and ratings only from clients, expand from average-->

    <!--TODO: Average rating from customers, only show if there's at least one review-->
    <!--TODO: Reviews and ratings only from customers, expand from average-->

</div>

{% if is_me %}
<div class="text-center" id="profile_edit" style="display: none;">
    <form method="POST" action="{% url 'accounts:profile' user.id %}">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" class="btn btn-outline-success" value="Save Changes" onclick="canceledit()">
        <input type="button" class="btn btn-outline-danger" value="Cancel" onclick="canceledit()">
    </form>
</div>

<script>
function editprofile(){
    $("#profile").css("display", "none");
    $("#profile_edit").css("display", "block");
}

function canceledit(){
    $("#profile").css("display", "block");
    $("#profile_edit").css("display", "none");
}
</script>
{% endif %}

{% endblock %}